[user]
        name = VimVoyager
        email = 86576612+VimVoyager@users.noreply.github.com
[alias]
        st = status
        ch = checkout
        co = commit
        cm = commit -m
        p = push
        fuck = reset --hard
        last = log -1 HEAD --stat
        count = rev-list --count
[help]
        autocorrect = 1
[core]
	editor = vim
