[user]
        name = VimVoyager
        email = 86576612+VimVoyager@users.noreply.github.com
[alias]
        st = status
        ch = checkout
	cb = checkout -b
	sw = switch
	sc = switch -c
        co = commit
	cm = commit -m
	ca = commit -a
	cam = commit -am
        p = push
	pl = pull
        fuck = reset --hard
	log = log --stat
        last = log -1 HEAD --stat
        count = rev-list --count
[help]
        autocorrect = 1
[core]
	editor = vim
